.page {
	margin: 0 auto;
	width: var(--width);
}

.career {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.education, .experience {
	border-radius: 2rem;
	height: 60vh;
	margin: 20vh 0;
	position: relative;
	width: var(--width);
}

.button {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
}
