.button {
	align-items: center;
	border-radius: 2rem;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: .8rem;
	text-align: center;
	transition: color ease-in .2s;
}

.button:hover {
	color: #fff2;
}
