.page {
	padding: 6rem 0 0;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.category {
	background-color: #fff2;
	border-radius: 2rem;
	display: flex;
	margin: 2rem auto;
	padding: 0 .8rem;
	width: fit-content;
}
