:root {
	--background: linear-gradient(45deg, #eee 0%, #adadad 100%);;
	--foreground: #333;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: linear-gradient(45deg, #313647 0%, #101218 100%);
		--foreground: #eee;
	}
}

html,
body {
	min-height: 100%;
	-ms-overflow-style: none;
	overflow-x: hidden;
	scrollbar-width: none;
}

body {
	background: var(--background);
	color: var(--foreground);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
	max-width: 1080px;
}

* {
	box-sizing: border-box;
	flex-shrink: 0;
	letter-spacing: 0;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	-webkit-user-drag: none;
	user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

::-webkit-scrollbar {
	display: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
