.page {
	backdrop-filter: blur(20px);
	background-color: #fff2;
	border: 2px solid #fff4;
	border-radius: 2rem;
	height: calc(100vh - 8rem);
	inset: 4rem 12rem;
	overflow: scroll;
	padding: 0 4vw;
	position: fixed;
	width: calc(100% - 16rem);
}
