.header {
	align-items: center;
	display: flex;
	font-size: .8rem;
	justify-content: space-between;
	padding: 5.4rem 6rem 0;
	position: fixed;
	touch-action: none;
	width: 100%;
	z-index: 1;
}

.navigation {
	display: flex;
}
