.header {
	align-items: center;
	backdrop-filter: blur(20px);
	background-color: #fff2;
	border: 2px solid #fff4;
	border-radius: 2rem;
	display: flex;
	font-size: .8rem;
	height: 4rem;
	inset: 4rem;
	justify-content: center;
	padding: 0 2rem;
	position: fixed;
	width: calc(100% - 8rem);
	z-index: 1;
}

.navigation ul {
	display: flex;
}
