.project {
	backdrop-filter: blur(20px);
	background-color: #fff2;
	border-radius: 2rem;
	display: flex;
	height: 16rem;
	margin: 2rem;
	padding: 2rem;
	width: 32rem;
}

.info {
	margin: 1rem;
}

.name {
	font-size: 1.5rem;
}

.description {
	margin: 1rem 0;
	text-wrap: wrap;
}

.technologies {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0;
	width: 16rem;
}

.technology {
	background-color: #fff4;
	border-radius: 2rem;
	font-size: .8rem;
	margin: .2rem;
	padding: .2rem;
}

.image {
	border-radius: 1rem;
	height: 12rem;
	object-fit: cover;
	width: 12rem;
}
