.project {
	backdrop-filter: blur(20px);
	background-color: #fff2;
	border-radius: 2rem;
	display: flex;
	height: 12rem;
	margin: 1rem;
	padding: 1rem;
	width: 24rem;
}

.info {
	margin: 1rem;
}

.name {
	font-size: 1.2rem;
}

.description {
	font-size: .8rem;
	margin: 1rem 0;
	text-wrap: wrap;
}

.technologies {
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 0;
	width: 10rem;
}

.technology {
	background-color: #fff4;
	border-radius: 2rem;
	font-size: .6rem;
	margin: 0 .2rem .2rem 0;
	padding: .2rem;
}

.image {
	border-radius: 1rem;
	height: 10rem;
	object-fit: cover;
	width: 10rem;
}
