.page {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	width: 100%;
}

.info {
	width: 16rem;

	h1 {
		font-size: 2rem;
	}
}

.scroll {
	bottom: 10rem;
	position: absolute;
}
